body {
    background: url('../background/figures.png');
}

/* Post */
.review {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

/* Time field */
.text-muted {
    font-size: 15px;
}

/* Button */
.btn {
    background: #222;
    color: #fff;
}

#send-btn {
    margin-top: 15px;
}

#send-btn:hover {
    background: #ffb7c5;
}
